{% extends 'pages/base.html' %} {% load crispy_forms_tags %} {% load static %} {% block content %}

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="#"> <img src="{% static 'Assets/ImagesDesign/LogoNObg.png'%}" class="card-img-top" alt="...">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'media' %}">Media <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <form method="GET" action="{% url 'SearchMedia'%}" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="SearchWrapper">
                    <label class="sr-only" for="inlineFormInputGroup">Search for people</label>
                    <div class="input-group mb-2 borderTheSearcher">
                        <div class="input-group-prepend">
                            <button class="btn" type="submit"> 
                                <div class="input-group-text"><i class="fas fa-search"></i></div>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="search" id="inlineFormInputGroup" placeholder="Search Meable">
                    </div>
                </div>
            </form>
        </div>
    </nav>

    <div class="row justify-content-md-center justify-content-sm-center">
        <div class="col-3 leftSidePage">
            <ul class="list-group list-group-flush">
                <li class="list-group-item home link">
                    <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
                </li>

                <li class="list-group-item link">
                    <a href="{% url 'opinions' %}"><i class="fas fa-fire"></i> Unpopular opinions</a>
                </li>
                <li class="list-group-item link">
                    <a href="{% url 'media' %}"><i class="fas fa-play-circle"></i> Media</a>
                </li>

                <li class="list-group-item link">
                    <a href="{% url 'Inbox' request.user.id %}"><i class="fas fa-envelope-open"></i> Messages </a>
                </li>
                <li class="list-group-item link">
                    <a href="{% url 'profile' request.user.id%}"><i class="fas fa-user-alt"></i> Profile</a>
                </li>
                <li class="list-group-item">
                    <div class="logOutButton">
                        <div class="row">
                            <div class="col-3">
                                <span class="ImgProfile">
                                        <img src="{{ profileImg.profileImage.url }}" class="rounded-circle" alt="...">
                                    </span>
                            </div>
                            <div class="col-9">
                                <div class="NameOfUserLoggedIn">
                                    <p>
                                        {{request.user}}

                                        <a href="{% url 'logout_view' %}"><i class="fas fa-sign-out-alt"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-xl-6 col-md-9 col- midleSidePage">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        {{CreateVideo.videoTitle|as_crispy_field}}
                    </div>

                    <div class="col-6">
                        {{CreateVideo.video|as_crispy_field}}
                    </div>

                    <div class="col-6 button">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </div>
                </div>
            </form>
            {% for i in VideosTable %}
            <div class="card postsWrapper">
                <div class="card-body">
                    <div class="row">

                        <div class=col-2>
                            <a href="{% url 'profile' i.profile.id %}">
                                <span class="ImgProfile">
                                        <img src="{{ i.profile.profileImage.url }}" class="rounded-circle" alt="...">
                                    </span>
                            </a>

                        </div>

                        <div class=col-10>
                            <a href="{% url 'profile' i.profile.id %}">
                                <span class="card-title userName">{{i.userID.first_name}} {{i.userID.last_name}}</span>
                            </a>
                            {%if request.user.id == i.userID.id%}
                            <span class="card-title timePosted float-right"><i class="fas fa-grip-lines"></i></span> {%endif%}
                            <span class="card-title timePosted float-right">{{i.Date|timesince}} ago </span>
                        </div>

                    </div>
                    <div class="textPadding">
                        <p class="card-text">{{i.videoTitle}}</p>
                    </div>
                </div>

                <a href="{% url 'mediaDetail' i.id%}">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video width="500" height="500">
                            <source src="{{i.video.url}}" type="video/mp4">
                            <b>{{video.title}}</b>
                        </video>
                    </div>
                </a>
            </div>

            {%endfor%}

        </div>

        <div class="col-3 rightSidePage">
            <div class="FollowUserBox">
                <h3>Other video</h3>

                <div class="card">
                    <div class="card-body opinions">

                        {% for i in otherVid%}
                        <a href="{% url 'mediaDetail' i.id %}">
                            <p>
                                {{i.videoTitle}}
                            </p>
                        </a>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>


    {% endblock %} {% block javascript %}
    <script src="{% static 'Assets/JS/likePost.js'%}"></script>

    <script src="{% static 'Assets/JS/dislikePost.js'%}"></script>

    <script src="{% static 'Assets/JS/followOtherUsers.js'%}"></script>


    {% endblock %}